<!doctype html>
<html lang="ms">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../assets/vendor/bootstrap/js/externalJs/header.js"></script>
    <link
      rel="stylesheet"
      href="../../assets/vendor/bootstrap/css/externalCss/engine/style.css"
    />
  </head>

  <body>
    <aside class="mobile-sidebar">
      <div class="sidebar-logo">
        <img
          src="../../assets/vendor/bootstrap/image/sidebar/Perodua_logo.png"
          alt="Logo"
          class="sidebar-icon-img"
        />
      </div>

      <div class="sidebar-menu">
        <a href="../../module/chassis/chassis.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/chassis.png"
            alt="Icon 1"
            class="sidebar-icon-img"
          />
        </a>

        <a href="../../module/engine/homepage2.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/engine.png"
            alt="Icon 2"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_3.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/powertrain.png"
            alt="Icon 3"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_4.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/bodyshell.png"
            alt="Icon 4"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_5.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/powertrain.png"
            alt="Icon 5"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_6.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/electrical.png"
            alt="Icon 6"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_7.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/upperbody.png"
            alt="Icon 7"
            class="sidebar-icon-img"
          />
        </a>

        <a href="modul_7.html" class="sidebar-item">
          <img
            src="../../assets/vendor/bootstrap/image/sidebar/underbody.png"
            alt="Icon 7"
            class="sidebar-icon-img"
          />
        </a>
      </div>
    </aside>

    <main class="main-content" id="tempat-kandungan"></main>

    <script src="../../assets/vendor/bootstrap/js/externalJs/engine/script.js"></script>
  </body>
</html>
