<!DOCTYPE html>
<html lang="ms">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engine Dashboard</title>
    <link rel="stylesheet" href="../../assets/vendor/bootstrap/css/externalCss/engine/style.css">
</head>

<body>

    <aside class="mobile-sidebar">
        <div class="sidebar-logo">
            <img src="../../assets/vendor/bootstrap/image/sidebar/Perodua_logo.png" alt="Logo" class="sidebar-icon-img">
        </div>

        <div class="sidebar-menu">
            <a href="../../module/chassis/homepage.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-def-icon.png" alt="Icon 1"
                    class="sidebar-icon-img">
            </a>

            <a href="../../module/engine/homepage2.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-func-icon2.png" alt="Icon 2"
                    class="sidebar-icon-img fix-size">
            </a>

            <a href="modul_3.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-hist-icon.png" alt="Icon 3"
                    class="sidebar-icon-img">
            </a>

            <a href="modul_4.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-type-icon.png" alt="Icon 4"
                    class="sidebar-icon-img">
            </a>

            <a href="modul_5.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-comp-icon.png" alt="Icon 5"
                    class="sidebar-icon-img">
            </a>

            <a href="modul_6.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-tech-icon.png" alt="Icon 6"
                    class="sidebar-icon-img">
            </a>

            <a href="modul_7.html" class="sidebar-item">
                <img src="../../assets/vendor/bootstrap/image/sidebar/tab-compa-icon.png" alt="Icon 7"
                    class="sidebar-icon-img">
            </a>
        </div>

        <div class="sidebar-bottom">
            <a href="halaman_utama.html" class="sidebar-back">
                <img src="../../assets/vendor/bootstrap/image/sidebar/Back.png" alt="Back" class="sidebar-icon-img">
            </a>
        </div>
    </aside>

    <main class="main-content" id="tempat-kandungan">
    </main>

    <script src="../../assets/vendor/bootstrap/js/externalJs/engine/script.js"></script>
</body>

</html>